
#sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-width: 12rem;
    height: 100dvh;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 20%, rgb(26, 60, 44) 100%);
    
    .nav-link {
        transition: 0.5s;
    }
    .nav-link:hover {
        transform: scale(1.1);
    }
}

#page-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 20%, rgb(26, 60, 44) 100%);

}

#todos-header {
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 20%, rgb(26, 60, 44) 100%);
}

.todo-item {
    transition: 0.5s !important;
}

.button-group-shrink {
    height: min-content; 
    flex: 0 !important;
    * {
        width: 2rem;
        height: 2rem;
        padding: 0 !important;
    }
}

input[type=date]:hover, select:hover {
    cursor: pointer;
}
